name: main

on:
  workflow_dispatch:

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.0.0
      - uses: actions/setup-python@v5.0.0
        with:
          python-version: '3.9'
      - run: pip install -r requirements.txt
      - run: mkdir images
      - run: python main.py
      - uses: actions/upload-artifact@v4
        with:
          path: |
            images/
            stare.txt
            contentPro.list
            contentPro.typ
            content.wikitext
          compression-level: 6
